<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>136621547622-0bh1n7jqfb16n7f98te8jvn1g35hiuhk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.136621547622-0bh1n7jqfb16n7f98te8jvn1g35hiuhk</string>
	<key>API_KEY</key>
	<string>AIzaSyC8qt9Yk5EIybKyn7lrE_iTBmheKoZpbBs</string>
	<key>GCM_SENDER_ID</key>
	<string>136621547622</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>za.co.immedia.immediaSocial</string>
	<key>PROJECT_ID</key>
	<string>exampleone-3262f</string>
	<key>STORAGE_BUCKET</key>
	<string>exampleone-3262f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:136621547622:ios:1b1bf84e24c7177f</string>
	<key>DATABASE_URL</key>
	<string>https://exampleone-3262f.firebaseio.com</string>
</dict>
</plist>